body{
    background-color: orange;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: blueviolet;
}

.red{
    color: red;
}

#para{
    color: green;
}

.paragraph{
    font-size: 22px;
    color: black;
}