* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    max-height: 100px;
}

.container{
    margin: 10% 30%;
    width: 40vw;
}

.image-container{
    height: 40vh;
}

img{
    width: 100%;
}

.button-container{
    height: 7vh;
}

button{
    display: block;
    width: 100%;
    font-size: 3vh;
    font-family: 'Poppins';
    background: linear-gradient(45deg, yellow, lightgreen, rgba(251, 78, 78, 0.881));
}